@media screen and (max-width:1080px)
{
    .logbtn {
        display: inline-flex;
        padding: 10px;
        border-radius:5px ;
        background-color: rgb(212, 129, 34);
        position: relative;
        left: 83.5vw;
        top:-106px;
    color: white;
    } 
    .logbtn1{
        padding: 10px;
        border-radius:5px ;
        background-color: rgb(212, 129, 34);
        display: inline-flex;
        flex-wrap: wrap;
        position: relative;
        left: 85vw;
        top:-106px;
    color: white;
    } 
    
}